.recent{
    width: 800px;
    background-color: #fff;
    border-radius: 24px;
    position: relative;
    &__main {
        height: 300px;
        margin-bottom: 50px;
        overflow-y: scroll;
    }
    &__file{
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    &__img{
        width: 16px;
        height: auto;
        img{
            width: 100%;
        }
    }
    &__left, &__right{
        display: flex;
        gap: 16px;
    }
    &__left {
        width: 350px;
    }
    &__right{
        align-items: center;
    }
    &__name {
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
    }
    &__time {
        font-size: 12px;
        line-height: 14px;
    }
    &__size {
        padding: 4px 8px;
        width: 54px;
        height: 20px;
        border: 1px solid #CDD3D8;
        border-radius: 2px;
        font-weight: 600;
        font-size: 11px;
        line-height: 12px;
    }
    &__btn{
        width: 126px;
        height: 28px;
        margin: 0 auto;
        margin-bottom: 20px;
        background: #FFFFFF;
        border: 1px solid #CDD3D8;
        border-radius: 40px;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 28px;
        cursor: pointer;
    }
    &__footer{
        position: absolute;
        bottom: 0;
    }
}
.bar {
    width: 40%;
    margin-right: 30px;
    transform: translateY(100%);
}
